/*********************************************
****************** RESET *********************
*********************************************/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*********************************************
******************* BASE *********************
*********************************************/

@import "variables";
@import "keyframes";
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #444;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Raleway', sans-serif;
    background: #14273a;
    background: -webkit-gradient(linear, left top, right bottom, from($color1), to($color2));
    background: linear-gradient(to bottom right, $color1, $color2);
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*********************************************
***************** LOADING ********************
*********************************************/

.loading-overlay {
    background: -webkit-gradient(linear, left top, right bottom, from($color1), to($color2));
    background: linear-gradient(to bottom right, $color1, $color2);
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
    opacity: 0;
}

.loading {
    height: 75px;
    left: 50%;
    margin-left: -37.5px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    width: 75px;
}

.loading .animation {
    -webkit-animation: loading 10s linear 0s infinite;
    animation: loading 10s linear 0s infinite;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-perspective: 1000;
    perspective: 1000;
    opacity: 0;
}

.loading .animation:nth-child(2) {
    -webkit-animation-delay: 250ms;
    animation-delay: 250ms;
}

.loading .animation:nth-child(3) {
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
}

.loading .animation:nth-child(4) {
    -webkit-animation-delay: 750ms;
    animation-delay: 750ms;
}

.loading .animation:nth-child(5) {
    -webkit-animation-delay: 1000ms;
    animation-delay: 1000ms;
}

.loading .circle {
    background: none repeat scroll 0 0 white;
    border-radius: 100% 100% 100% 100%;
    height: 4px;
    left: 0;
    position: absolute;
    top: 0;
    width: 4px;
}

.loading .circle.two {
    background: rgba(255, 255, 255, 0.8);
}

.loading .circle.three {
    background: rgba(255, 255, 255, 0.6);
}

.loading .circle.four {
    background: rgba(255, 255, 255, 0.4);
}

.loading .circle.five {
    background: rgba(255, 255, 255, 0.2);
}


/*********************************************
**************** LOGIN PAGE ******************
*********************************************/

.wrapper {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    -webkit-animation: appear 2s ease;
    animation: appear 2s ease;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    .title {
        font-family: 'raleway_regular';
        font-size: 100px;
        position: absolute;
        margin-top: 10vh;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        @include MQ(M) {
            font-size: 70px;
        }
        @include MQ(S) {
            font-size: 50px;
        }
        .letter {
            display: inline-block;
            color: white;
        }
    }
    button {
        position: absolute;
        margin-top: calc(50vh - 25px);
        padding: 0;
        width: 200px;
        height: 50px;
        border-radius: 25px;
        background-color: transparent;
        outline: 0;
        cursor: pointer;
        overflow: hidden;
    }
    .spin {
        border: 2px solid white;
        color: white;
        font-weight: 100;
        font-weight: bold;
        font-size: 17px;
        -webkit-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
        span {
            font-family: 'raleway_regular';
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 100%;
            height: 100%;
            -webkit-transition: opacity 200ms ease-in-out;
            transition: opacity 200ms ease-in-out;
            &:last-child {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
            }
        }
        svg {
            height: 30px;
            fill: white;
        }
        &:hover {
            background-color: white;
            color: #000;
        }
        &.done,
        &.processing {
            pointer-events: none;
            cursor: default;
        }
        &.processing {
            width: 50px;
            border-width: 4px;
            border-right-color: transparent;
            border-bottom-color: transparent;
            -webkit-animation: spin;
            animation: spin;
            -webkit-animation-delay: 0ms;
            animation-delay: 0ms;
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            &:hover {
                background-color: transparent;
            }
            span:first-child {
                opacity: 0;
            }
        }
        &.done {
            &:hover {
                background-color: transparent;
            }
            span:first-child {
                opacity: 0;
            }
            span:last-child {
                opacity: 1;
            }
        }
    }
    $c: #fff;
    $d: transparentize($c, .45);
    $t: transparentize($c, .75);
    .item {
        width: 150px;
        height: 150px;
        position: absolute;
        bottom: 0;
        &:nth-child(3n+1) {
            margin-left: 0;
        }
        &:nth-child(n+4) {
            margin-top: 30px;
        }
        opacity: 0;
        -webkit-animation: appear 2s ease;
        animation: appear 2s ease;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .mouse {
        width: 40px;
        height: 60px;
        border-radius: 20px;
        border: 3px solid $c;
        position: absolute;
        top: calc(50% - 30px);
        left: calc(50% - 20px);
        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
        }
    }
    .m-4 {
        &:before,
        &:after {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            top: 10px;
            left: calc(50% - 3px);
            background: $c;
            opacity: 0;
            -webkit-animation: m-4-ball 1.2s ease-in-out infinite;
            animation: m-4-ball 1.2s ease-in-out infinite;
        }
        &:after {
            -webkit-animation-delay: .6s;
            animation-delay: .6s;
        }
    }
}

#particles-js {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}


/*********************************************
************** PRICING TABLE *****************
*********************************************/

section {
    color: #7a90ff;
    padding: 2em 0 8em;
    min-height: 100vh;
    margin-top: 100px;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.pricing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto 3em;
    &-item {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        text-align: center;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 330px;
        flex: 0 1 330px;
    }
    &-action {
        color: inherit;
        border: none;
        background: none;
        &:focus {
            outline: none;
        }
    }
}

.pricing-feature-list {
    text-align: left;
}

.pricing-palden .pricing-item {
    font-family: 'Open Sans', sans-serif;
    cursor: default;
    color: #000;
    background: #fff;
    border: 2px solid white;
    -webkit-box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
    box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
    border-radius: 10px 10px 10px 10px;
    margin: 1em;
}

@media screen and (min-width: 66.250em) {
    .pricing-palden .pricing-item {
        margin: 1em -0.5em;
    }
    .pricing-palden .pricing__item--featured {
        margin: 0;
        z-index: 10;
        -webkit-box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
        box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
    }
}

.pricing-palden {
    .pricing-deco {
        border-radius: 10px 10px 0 0;
        background: -webkit-gradient(linear, left top, right bottom, from($color1), to($color2));
        background: linear-gradient(to bottom right, $color1, $color2);
        padding: 3em 0 6em;
        position: relative;
    }
    .pricing-deco-img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80px;
    }
    .pricing-title {
        font-size: 0.75em;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: #fff;
    }
    .deco-layer {
        -webkit-transition: -webkit-transform 0.5s;
        transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        transition: transform 0.5s, -webkit-transform 0.5s;
    }
    .pricing-item {
        &:hover {
            .deco-layer--1 {
                -webkit-transform: translate3d(15px, 0, 0);
                transform: translate3d(15px, 0, 0);
            }
            .deco-layer--2 {
                -webkit-transform: translate3d(-15px, 0, 0);
                transform: translate3d(-15px, 0, 0);
            }
        }
    }
    .icon {
        font-size: 2.5em;
    }
    .pricing-price {
        font-size: 5em;
        font-weight: bold;
        padding: 0;
        color: #fff;
        margin: 0 0 0.25em 0;
        line-height: 0.75;
    }
    .pricing-real-price {
        font-size: 6em;
        font-style: normal;
        margin-right: 10px;
    }
    .pricing-period {
        font-size: 0.15em;
        padding: 0 0 0 0.5em;
        font-style: italic;
    }
    .pricing__sentence {
        font-weight: bold;
        margin: 0 0 1em 0;
        padding: 0 0 0.5em;
    }
    .pricing-feature-list {
        margin: 0;
        padding: 0.25em 0 2.5em;
        list-style: none;
        text-align: center;
    }
    .pricing-feature {
        padding: 1em 0;
    }
    .pricing-action {
        font-weight: bold;
        font-size: 13px;
        margin: auto 3em 2em 3em;
        padding: 1em 2em;
        color: #fff;
        border-radius: 30px;
        background: -webkit-gradient(linear, left top, right bottom, from($color1), to($color2));
        background: linear-gradient(to bottom right, $color1, $color2);
        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s;
        -webkit-box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
        &:hover,
        &:focus {
            background-color: #100A13;
            cursor: pointer;
            -webkit-animation: pulse 1s infinite;
            animation: pulse 1s infinite;
        }
    }
}

.pricing-palden .pricing-item--featured .pricing-deco {
    padding: 5em 0 8.885em 0;
}


/*********************************************
**************** DASHBOARD *******************
*********************************************/

.image-gradient {
    background: url('https://images.pexels.com/photos/708921/pexels-photo-708921.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    position: absolute;
    width: 100vw;
    -webkit-animation: appear 1s ease, reajust-appear-bg 1s ease;
    animation: appear 1s ease, reajust-appear-bg 1s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.wrapper-dashboard {
    background: rgb(9, 9, 23);
    background: -webkit-gradient(linear, left top, right top, from($color1), color-stop(57%, rgba(18, 18, 28, 0.97)), to(rgba(18, 18, 28, 0.8)));
    background: linear-gradient(to right, $color1 0%, rgba(18, 18, 28, 0.97) 57%, rgba(18, 18, 28, 0.8) 100%);
    position: absolute;
    height: 100%;
}

.head {
    height: 80px;
    width: 100vw;
    .user-pic {
        height: 40px;
        width: 40px;
        margin-top: 20px;
        margin-right: 20px;
        float: right;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        cursor: pointer;
        img {
            overflow: hidden;
            border-radius: 50%;
            border: 1px solid white;
        }
        @include MQ(S) {
            margin-right: calc(50% - 20px);
            margin-top: 15px;
        }
    }
    .user-name {
        font-family: 'raleway_thin';
        line-height: 80px;
        margin-right: 15px;
        float: right;
        color: white;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        @include MQ(S) {
            margin-right: 0px;
            line-height: 40px;
            margin-top: 60px;
            -webkit-transform: translateX(calc(50% + 20px));
            transform: translateX(calc(50% + 20px));
        }
    }
    -webkit-animation: appear 2s ease;
    animation: appear 2s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    @include MQ(S) {
        text-align: center;
    }
}

.select-dashboard {
    height: calc(100vh - 10px);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: appear 2s ease;
    animation: appear 2s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    .select-choice {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, calc(-50% - 40px));
        transform: translate(-50%, calc(-50% - 40px));
        width: 95%;
        padding-left: 20px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        h1 {
            color: white;
            display: inline-block;
            margin-bottom: 30px;
            font-family: raleway_thin;
            font-size: 3em;
            margin-top: 0;
            left: 0%;
            position: relative;
            -webkit-transform: translateX(0%);
            transform: translateX(0%);
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            @include MQ(M) {
                display: inline-block;
                left: 50%;
                position: relative;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
            }
            @include MQ(S) {
                font-size: 2em;
            }
        }
        @include MQ(M) {
            padding-left: 0px;
        }
    }
    .select-action {
        display: inline-block;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        position: relative;
        left: 0%;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        @include MQ(M) {
            display: inline-block;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            position: relative;
            left: 50%;
        }
    }
}

.add-page {
    height: 30px;
    width: 30px;
    margin-top: 6px;
    border: 1px solid white;
    border-radius: 50%;
    float: left;
    margin-left: 15px;
    cursor: pointer;
    color: white;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    i {
        font-size: 15px;
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
    }
    &:hover {
        background-color: white;
        color: $color1;
    }
}


/*********************************************
************* DASHBOARD SELECT ***************
*********************************************/

select {
    display: none;
}

.dropdown {
    border-radius: 6px;
    border: solid 1px white;
    color: white;
    cursor: pointer;
    float: left;
    font-size: 14px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    &:hover {
        background-color: white;
        color: $color1;
    }
    &:active,
    &.open {
        background-color: white;
        color: $color1;
    }
    &:after {
        height: 0;
        width: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #777;
        -webkit-transform: origin(50% 20%);
        transform: origin(50% 20%);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        content: '';
        display: block;
        margin-top: -2px;
        pointer-events: none;
        position: absolute;
        right: 10px;
        top: 50%;
    }
    &.open {
        &:after {
            -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
        }
        .list {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
            pointer-events: auto;
        }
        .option {
            cursor: pointer;
        }
    }
    &.wide {
        width: 100%;
        .list {
            left: 0 !important;
            right: 0 !important;
        }
    }
    .list {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
        transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
        background-color: #fff;
        border-radius: 6px;
        margin-top: 4px;
        padding: 3px 0;
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 999;
        height: 200px;
        overflow-y: scroll;
        &:hover .option:not(:hover) {
            background-color: transparent !important;
        }
        ul {
            list-style-type: none;
            padding: 0px;
        }
    }
    .option {
        cursor: default;
        font-weight: 400;
        line-height: 40px;
        outline: none;
        padding-left: 18px;
        padding-right: 29px;
        text-align: left;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &:hover,
        &:focus {
            background-color: #f6f6f6 !important;
        }
        &.selected {
            font-weight: 600;
            &:focus {
                background: #f6f6f6;
            }
        }
    }
}

.by {
    bottom: 12px;
    color: #aaa;
    font-size: 12px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

a {
    color: #aaa;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &:hover {
        color: #666;
    }
}


/*********************************************
************** DASHBOARD MODAL ***************
*********************************************/

.md-modal {
    margin: auto;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    width: 75%;
    height: 0;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow-y: auto;
}

.md-show {
    visibility: visible;
    height: auto;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: -webkit-gradient(linear, left top, right bottom, from($color1), to($color2));
    background: linear-gradient(to bottom right, $color1, $color2);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.md-show~.md-overlay {
    opacity: 1;
    visibility: visible;
}

.md-effect-12 .md-content {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.md-effect-12 .md-content {
    h3 {
        background: transparent;
    }
    background: transparent;
}

.md-show.md-effect-12 .md-content {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.md-close {
    position: absolute;
    height: 40px;
    width: 40px;
    right: 20px;
    top: 20px;
    border: 1px solid white;
    color: white;
    background: -webkit-gradient(linear, left top, right bottom, from($color1), to($color2));
    background: linear-gradient(to bottom right, $color1, $color2);
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    outline: none;
    i {
        font-size: 25px;
    }
    &:hover {
        background: white;
        color: $color1;
    }
    @include MQ(S) {
        right: calc(50% - 20px);
        top: 15px;
    }
}

.md-content {
    text-align: center;
    color: white;
    h1 {
        font-family: "raleway_thin";
        font-size: 45px;
        margin-bottom: 15px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        @include MQ(S) {
            font-size: 30px;
        }
    }
    h2 {
        font-family: "raleway_regular";
        font-size: 15px;
        margin-bottom: 25px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        @include MQ(S) {
            font-size: 13px;
        }
    }
    ul {
        -webkit-column-width: 200px;
        column-width: 200px;
        -webkit-column-gap: 20px;
        column-gap: 20px;
        padding: 20px;
    }
    li {
        display: inline-block;
        width: 100%;
        height: 100px;
        margin-bottom: 20px;
        border: 1px solid;
        border-color: #ececec #e7e7e7 #e5e6e9;
        border-radius: 4px;
        cursor: pointer;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        >a>div {
            display: table;
            width: 100%;
            height: 100%;
            padding: 10px;
            img,
            span {
                display: table-cell;
                vertical-align: middle;
            }
            img {
                -webkit-transform: translateY(calc(50% - 10px));
                transform: translateY(calc(50% - 10px));
                border-radius: 50%;
            }
            span {
                color: white;
                width: 100%;
                padding: 0px 10px;
            }
        }
        &:hover {
            background: white;
            >a>div span {
                color: $color1;
            }
        }
    }
}


/*********************************************
*************** PERMISSION *******************
*********************************************/

.wrapper {
    .title-permission {
        font-family: 'raleway_regular';
        font-size: 40px;
        position: absolute;
        margin-top: 25vh;
        color: white;
        text-align: center;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        @include MQ(M) {
            font-size: 35px;
        }
        @include MQ(S) {
            font-size: 20px;
        }
    }
}


/*********************************************
****************** ALBUMS ********************
*********************************************/

.wrapper-albums {
    width: 80%;
    text-align: center;
    position: relative;
    margin-top: 10vh;
    margin-bottom: 25px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    .albums-back {
        color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        cursor: pointer;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        i {
            margin-right: 10px;
        }
    }
    .albums-title {
        color: white;
        font-size: 25px;
        position: relative;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        display: inline-block;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .albums-create {
        color: white;
        position: absolute;
        bottom: 0;
        right: 0;
        cursor: pointer;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        i {
            margin-left: 10px;
        }
    }
    @include MQ(M) {
        .albums-back {
            position: absolute;
            padding-right: 20px;
            left: 50%;
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
            i {
                margin-right: 10px;
            }
        }
        .albums-title {
            display: block;
            -webkit-transform: translateY(-55px);
            transform: translateY(-55px);
        }
        .albums-create {
            position: absolute;
            padding-left: 20px;
            right: 50%;
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            i {
                margin-left: 10px;
            }
        }
    }
    @include MQ(S) {
        margin-top: 15vh;
        .albums-back {
            span {
                display: none;
            }
            i {
                font-size: 30px;
            }
        }
        .albums-create {
            span {
                display: none;
            }
            i {
                font-size: 30px;
            }
        }
    }
}

.wrapper-pictures {
    width: 80%;
    height: 400px;
    background: red;
}


/*********************************************
*************** WEBSITE HOME *****************
*********************************************/

.nav-button-mobile{
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    line-height: 2rem;
    color: #a1adbf;
    z-index: 20;
    font-family: 'raleway_thin';
    &:hover{
        cursor:pointer;
    }
    h2{
        font-size: 1rem;
        text-transform: uppercase;
    }

    @include MQ(M){
        display: inline-block;
        width: 100%;
    }
}
nav{
    width: 20%;
    text-align: right;
    margin-top: 2.5rem;
    .md-close{
        margin-top: 0;
        width: 50px;
        display: none;

        @include MQ(M){
            display: block;
        }
    }
    ul{
        li{
            a{
                font-size:0.8rem;
                padding:0.8rem 0 0.5rem;
                border-bottom: solid 1px #383448;
                color: #57555f;
                font-weight: 300;
                display: block;
                width: 100%;
                translate:all ease 0.5s;

                &:hover{
                    padding-right:0.4rem;
                    color:#aeaebb;
                    border-color: #aeaebb;
                }
            }
        }
    }

    @include MQ(M){
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $color2;
        z-index:20;
        margin-top: 0;
        opacity: 0;
        pointer-events: none;
        transition:all ease 0.2s;
        &.m-open{
            opacity: 1;
            pointer-events: all;
        }
        ul{
            margin-top: 80px;
            li{
                margin-left: 1rem;
                margin-right: 1rem;
                a{
                    text-align: center;
                }
            }
        }
    }
}

.container{
    width: 100%;
    max-width: 1170px;
    &.website-home{
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translateX(-50%) translateY(-50%);
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-between;
        transition: all ease 0.2s;

        .menu-albums{
            width: 75%;
            display: flex;
            justify-content: space-between;
            flex-flow:row;
            flex-wrap: wrap;

            .menu-albums-title{
                width: 100%;
                h2{
                    font-family: 'raleway_thin';
                    font-size: 1.5rem;
                    font-weight: 300;
                    color: #ffffff;
                    margin-bottom: 1rem;
                }
            }
            .album{
                width: 49.7%;
                height: 100%;
                max-height: 150px;
                position: relative;
                margin-bottom: 0;
                &:nth-last-of-type(n+3){
                    margin-bottom: 0.2rem;
                }
                .image{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition:all ease 0.2s;
                        transform: scale(1);
                    }

                }

                .title{
                    position: absolute;
                    bottom: 0;
                    left:0;
                    z-index: 10;
                    width: 100%;
                    height: 2.3rem;
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.84+99 */
                    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.90) 100%, rgba(0,0,0,0.90) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.90) 100%,rgba(0,0,0,0.90) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.90) 100%,rgba(0,0,0,0.90) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d6000000',GradientType=0 ); /* IE6-9 */
                    transition: all ease 0.2s;
                    .inner{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        padding-bottom:0.5rem;
                        transition: all ease 0.2s;
                        transform: translateX(0);
                        padding-right:1rem;
                        h2{
                            font-size: 1rem;
                            color: #ffffff;
                            text-shadow: 0 2px 1px rgba(0, 0, 0, 0.8);
                            transition:all ease 0.2s;
                            display: block;
                            text-align: center;
                        }
                    }
                }

                &:hover{
                    cursor:pointer;
                    .image{
                        img{
                            transform: scale(1.05);
                        }
                    }
                    .title{
                        height:40%;
                        .inner{
                            padding-bottom:0.7rem;
                            h2{
                                text-shadow: 0 4px 2px rgba(0, 0, 0, 0.8);
                            }
                        }
                    }
                }

                @include MQ(L){
                    .title{
                        .inner{
                            right:50%;
                            transform:translateX(50%);
                            padding-right:0;
                        }
                    }
                }
            }

            @include MQ(M){
                width: 100%;
            }
        }


        @include MQ(L){
            width: 90%;
            margin:5% 0;
        }
=======
}

/////////
/////////
/////////
/////////
/////////
//* GRID SYSTEM */
.module {
    float: left;
    width: 98%;
    margin-left: 2%;
    margin-bottom: 2%;
    background-color: #212121;
    min-height: 175px;
    position: relative;
    border: 1px solid white;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.grid {
    margin-left: -2%;
    *zoom: 1;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.album-image {
    position: relative;
    height: 175px;
    border-radius: 5px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    &:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.album-name {
    position: absolute;
    bottom: 10px;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background: -webkit-gradient(linear, left top, right bottom, from($color1), to($color2));
    background: linear-gradient(to bottom right, $color1, $color2);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

@media only screen and (min-width: 481px) {
    .tablet-1 {
        width: 6.33333333%;
    }
    .tablet-2 {
        width: 14.66666667%;
    }
    .tablet-3 {
        width: 23%;
    }
    .tablet-4 {
        width: 31.33333333%;
    }
    .tablet-5 {
        width: 39.66666667%;
    }
    .tablet-6 {
        width: 48%;
    }
    .tablet-7 {
        width: 56.33333333%;
    }
    .tablet-8 {
        width: 64.66666667%;
    }
    .tablet-9 {
        width: 73%;
    }
    .tablet-10 {
        width: 81.33333333%;
    }
    .tablet-11 {
        width: 89.66666667%;
    }
    .tablet-12 {
        width: 98%;
    }
}

@media only screen and (min-width: 1024px) {
    .desktop-1 {
        width: 6.33333333%;
    }
    .desktop-2 {
        width: 14.66666667%;
    }
    .desktop-3 {
        width: 23%;
    }
    .desktop-4 {
        width: 31.33333333%;
    }
    .desktop-5 {
        width: 39.66666667%;
    }
    .desktop-6 {
        width: 48%;
    }
    .desktop-7 {
        width: 56.33333333%;
    }
    .desktop-8 {
        width: 64.66666667%;
    }
    .desktop-9 {
        width: 73%;
    }
    .desktop-10 {
        width: 81.33333333%;
    }
    .desktop-11 {
        width: 89.66666667%;
    }
    .desktop-12 {
        width: 98%;
    }
}