#flash-messages {
  position: absolute;
  left: 0;
  right: 0;
  top: 24px;
  margin: auto;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1100;
  .message {
    span {
      display: inline-block;
      color: #fff;
      width: auto;
      padding: 12px 24px;
      border-radius: 25px;
      font-family: 'raleway_regular', sans-serif;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      opacity: 0;
      margin-bottom: 12px;
      &.success {
        background-color: #202127;
        border: 1px solid white;
      }
      &.error {
        background-color: #202127;
        border: 1px solid white;
      }
      &.show {
        opacity: 1;
      }
    }
  }
}