#home {
	font-family: raleway_regular, sans-serif;
	margin: auto;
	width: 80%;
	height: 500px;
	position: relative;
	nav {
		display: block;
		height: 80px;
		line-height: 120px;
		width: 100%;
		text-align: right;
		.logo {
			float: left;
			padding-left: 48px;
			color: #fff;
			font-family: Befolk, sans-serif;
			font-weight: 400;
			font-size: 50px;
			-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
			position: absolute;
			left: 0;
			top: 0;
			@include MQ(M) {
				left: 0;
				right: 0;
				text-align: center;
				padding-left: 0;
				top: 30px;
				font-size: 75px;
			}
		}
		a {
			color: #fff;
			padding: 10px 14px;
			&.primary {
				border: 1px solid #fff;
				border-radius: 25px;
			}
		}
		@include MQ(M) {
			a:not(:first-child) {
				display: none;
			}
		}
	}
	.content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	@include MQ(M) {
		.content {
			margin-top: 50px;
		}
	}
	.image {
		width: 50%;
		margin-top: 90px;
		text-align: center;
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	.text {
		width: 50%;
		text-align: center;
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
		>div {
			position: relative;
			p {
				width: 100%;
				font-weight: 300;
				color: #fff;
				margin-top: 100px;
				font-size: 240%;
				max-width: 425px;
				text-align: center;
				display: inline-block;
			}
		}
		button {
			margin-top: 48px;
			color: #fff;
			outline: none;
			border: 1px solid #fff;
			border-radius: 25px;
			background-color: transparent;
			padding: 10px 18px;
			font-size: 14pt;
			cursor: pointer;
			margin-bottom: 15px;
		}
	}
}

.alternative-background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 1;
}

.home-header {
	position: relative;
	z-index: 2;
	width: 100%;
	opacity: 0;
	-webkit-animation: appear 2s ease;
	animation: appear 2s ease;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	.background {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #14273a;
		background: -webkit-gradient(linear, left top, right bottom, from($color1), to($color2));
		background: linear-gradient(to bottom right, $color1, $color2);
		-webkit-transform: skewY(4deg);
		transform: skewY(4deg);
		-webkit-transform-origin: top right;
		transform-origin: top right;
	}
}

.login-modal-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 50;
	background-color: rgba(127, 127, 127, 0.7);
	display: none;
}

.login-modal {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 90%;
	max-width: 500px;
	height: 350px;
	z-index: 51;
	background-color: #fff;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	border-radius: 12px;
	text-align: center;
	font-family: raleway_regular, sans-serif;
	display: none;
	h3 {
		font-size: 200%;
		margin-top: 42px;
		margin-bottom: 24px;
	}
	p {
		font-size: 110%;
		padding: 12px 24px;
	}
	.legend {
		font-size: 80%;
	}
	.login-fb {
		margin-top: 48px;
		outline: none;
		border: none;
		color: #fff;
		background-color: #3a5795;
		border-radius: 4px;
		padding: 15px 30px;
		font-size: 120%;
		cursor: pointer;
		i {
			margin-right: 10px;
		}
	}
	.close-modal {
		position: absolute;
		top: 16px;
		right: 16px;
		font-size: 130%;
		cursor: pointer;
	}
}

////////////////////
////////////////////
////////////////////
////////////////////
////////////////////
// Morphing Device by Edmundo Santos
$bg-color: #202126;
$outline: rgba(255, 255, 255, .1);
.device {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 70%;
	margin: 0 auto;
	border: 2px solid #ece9f2;
	border-radius: 6px;
	-webkit-box-shadow: 10px 10px 0 -2px $bg-color, 10px 10px 0 rgba(255, 255, 255, .1);
	box-shadow: 10px 10px 0 -2px $bg-color, 10px 10px 0 rgba(255, 255, 255, .1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-animation: morphDevice 10s infinite cubic-bezier(1, .015, .295, 1.225) forwards;
	animation: morphDevice 10s infinite cubic-bezier(1, .015, .295, 1.225) forwards;
	figcaption {
		position: absolute;
		top: 12px;
		left: 12px;
		width: 10px;
		height: 10px;
		background: rgba(255, 255, 255, .1);
		-webkit-box-shadow: 15px 0 0 rgba(255, 255, 255, .1), 30px 0 0 rgba(255, 255, 255, .1);
		box-shadow: 15px 0 0 rgba(255, 255, 255, .1), 30px 0 0 rgba(255, 255, 255, .1);
		border-radius: 50%;
		-webkit-animation: morphButtons 10s infinite cubic-bezier(1, .015, .295, 1.225) forwards;
		animation: morphButtons 10s infinite cubic-bezier(1, .015, .295, 1.225) forwards;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
}

.ir {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

@include MQ(L) {
	#home .content {
		display: block;
	}
	#home .text {
		width: 100%;
	}
	#home .image {
		width: 100%;
	}
}

@-webkit-keyframes morphDevice {
	0%,
	15% {
		width: 100%;
		padding-top: 70%;
		margin-top: 0;
		border-color: #ece9f2;
		-webkit-box-shadow: 10px 10px 0 -2px $bg-color, 10px 10px 0 $outline;
		box-shadow: 10px 10px 0 -2px $bg-color, 10px 10px 0 $outline;
		background-image: url("/images/2.jpg");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	25%,
	40% {
		width: 70%;
		padding-top: 55%;
		margin-top: 7.5%;
		border-color: #ece9f2;
		-webkit-box-shadow: 9px -9px 0 -2px $bg-color, 9px -9px 0 $outline;
		box-shadow: 9px -9px 0 -2px $bg-color, 9px -9px 0 $outline;
		background-image: url("/images/3.jpg");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	50%,
	65% {
		width: 28%;
		padding-top: 42%;
		margin-top: 15%;
		border-color: #ece9f2;
		-webkit-box-shadow: -8px -8px 0 -2px $bg-color, -8px -8px 0 $outline;
		box-shadow: -8px -8px 0 -2px $bg-color, -8px -8px 0 $outline;
		background-image: url("/images/4.jpg");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	75%,
	90% {
		width: 55%;
		padding-top: 70%;
		margin-top: 0;
		border-color: #ece9f2;
		-webkit-box-shadow: -9px 9px 0 -2px $bg-color, -9px 9px 0 $outline;
		box-shadow: -9px 9px 0 -2px $bg-color, -9px 9px 0 $outline;
		background-image: url("/images/1.jpg");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
	}
	100% {
		width: 100%;
		padding-top: 70%;
		margin-top: 0;
		border-color: #ece9f2;
		-webkit-box-shadow: 10px 10px 0 -2px $bg-color, 10px 10px 0 $outline;
		box-shadow: 10px 10px 0 -2px $bg-color, 10px 10px 0 $outline;
		background-image: url("/images/2.jpg");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes morphDevice {
	0%,
	15% {
		width: 100%;
		padding-top: 70%;
		margin-top: 0;
		border-color: #ece9f2;
		-webkit-box-shadow: 10px 10px 0 -2px $bg-color, 10px 10px 0 $outline;
		box-shadow: 10px 10px 0 -2px $bg-color, 10px 10px 0 $outline;
		background-image: url("/images/2.jpg");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	25%,
	40% {
		width: 70%;
		padding-top: 55%;
		margin-top: 7.5%;
		border-color: #ece9f2;
		-webkit-box-shadow: 9px -9px 0 -2px $bg-color, 9px -9px 0 $outline;
		box-shadow: 9px -9px 0 -2px $bg-color, 9px -9px 0 $outline;
		background-image: url("/images/3.jpg");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	50%,
	65% {
		width: 28%;
		padding-top: 42%;
		margin-top: 15%;
		border-color: #ece9f2;
		-webkit-box-shadow: -8px -8px 0 -2px $bg-color, -8px -8px 0 $outline;
		box-shadow: -8px -8px 0 -2px $bg-color, -8px -8px 0 $outline;
		background-image: url("/images/4.jpg");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	75%,
	90% {
		width: 55%;
		padding-top: 70%;
		margin-top: 0;
		border-color: #ece9f2;
		-webkit-box-shadow: -9px 9px 0 -2px $bg-color, -9px 9px 0 $outline;
		box-shadow: -9px 9px 0 -2px $bg-color, -9px 9px 0 $outline;
		background-image: url("/images/1.jpg");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
	}
	100% {
		width: 100%;
		padding-top: 70%;
		margin-top: 0;
		border-color: #ece9f2;
		-webkit-box-shadow: 10px 10px 0 -2px $bg-color, 10px 10px 0 $outline;
		box-shadow: 10px 10px 0 -2px $bg-color, 10px 10px 0 $outline;
		background-image: url("/images/2.jpg");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes morphButtons {
	0%,
	15%,
	100% {
		top: 12px;
		left: 12px;
		margin: 0;
		background: #ece9f2;
		-webkit-box-shadow: 15px 0 0 rgba(255, 255, 255, .1), 30px 0 0 rgba(255, 255, 255, .1);
		box-shadow: 15px 0 0 rgba(255, 255, 255, .1), 30px 0 0 rgba(255, 255, 255, .1);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	25%,
	40% {
		top: 50%;
		left: 100%;
		margin: -5px 0 0 -20px;
		background: #ece9f2;
		-webkit-box-shadow: 0 0 0 5000px rgba(255, 255, 255, 0.05), 0 0 0 100px transparent;
		box-shadow: 0 0 0 5000px rgba(255, 255, 255, 0.05), 0 0 0 100px transparent;
		-webkit-transform: scale(.9);
		transform: scale(.9);
	}
	50%,
	65% {
		top: 10px;
		left: 50%;
		margin: 0 0 0 -5px;
		background: #ece9f2;
		-webkit-box-shadow: 0 -30px 0 rgba(255, 255, 255, .05), 0 -30px 0 rgba(255, 255, 255, .05);
		box-shadow: 0 -30px 0 rgba(255, 255, 255, .05), 0 -30px 0 rgba(255, 255, 255, .05);
		-webkit-transform: scale(.8);
		transform: scale(.8);
	}
	75%,
	90% {
		top: 100%;
		left: 50%;
		margin: -20px 0 0 -5px;
		background: #ece9f2;
		-webkit-box-shadow: 0 0 0 5000px rgba(255, 255, 255, 0.05), 0 0 0 100px transparent;
		box-shadow: 0 0 0 5000px rgba(255, 255, 255, 0.05), 0 0 0 100px transparent;
		-webkit-transform: scale(.9);
		transform: scale(.9);
	}
}

@keyframes morphButtons {
	0%,
	15%,
	100% {
		top: 12px;
		left: 12px;
		margin: 0;
		background: #ece9f2;
		-webkit-box-shadow: 15px 0 0 rgba(255, 255, 255, .1), 30px 0 0 rgba(255, 255, 255, .1);
		box-shadow: 15px 0 0 rgba(255, 255, 255, .1), 30px 0 0 rgba(255, 255, 255, .1);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	25%,
	40% {
		top: 50%;
		left: 100%;
		margin: -5px 0 0 -20px;
		background: #ece9f2;
		-webkit-box-shadow: 0 0 0 5000px rgba(255, 255, 255, 0.05), 0 0 0 100px transparent;
		box-shadow: 0 0 0 5000px rgba(255, 255, 255, 0.05), 0 0 0 100px transparent;
		-webkit-transform: scale(.9);
		transform: scale(.9);
	}
	50%,
	65% {
		top: 10px;
		left: 50%;
		margin: 0 0 0 -5px;
		background: #ece9f2;
		-webkit-box-shadow: 0 -30px 0 rgba(255, 255, 255, .05), 0 -30px 0 rgba(255, 255, 255, .05);
		box-shadow: 0 -30px 0 rgba(255, 255, 255, .05), 0 -30px 0 rgba(255, 255, 255, .05);
		-webkit-transform: scale(.8);
		transform: scale(.8);
	}
	75%,
	90% {
		top: 100%;
		left: 50%;
		margin: -20px 0 0 -5px;
		background: #ece9f2;
		-webkit-box-shadow: 0 0 0 5000px rgba(255, 255, 255, 0.05), 0 0 0 100px transparent;
		box-shadow: 0 0 0 5000px rgba(255, 255, 255, 0.05), 0 0 0 100px transparent;
		-webkit-transform: scale(.9);
		transform: scale(.9);
	}
}