.list-header {
	width: 80%;
	text-align: center;
	position: relative;
	margin-top: 10vh;
	margin-bottom: 25px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	.nav-back {
		color: white;
		position: absolute;
		bottom: 0;
		left: 0;
		cursor: pointer;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		i {
			margin-right: 10px;
		}
	}
	.nav-title {
		color: white;
		font-size: 25px;
		position: relative;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
		display: inline-block;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.nav-create {
		color: white;
		position: absolute;
		bottom: 0;
		right: 0;
		cursor: pointer;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		i {
			margin-left: 10px;
		}
	}
	@include MQ(M) {
		.nav-back {
			position: absolute;
			padding-right: 20px;
			left: 50%;
			-webkit-transform: translateX(-100%);
			transform: translateX(-100%);
			i {
				margin-right: 10px;
			}
		}
		.nav-title {
			display: block;
			-webkit-transform: translateY(-55px);
			transform: translateY(-55px);
		}
		.nav-create {
			position: absolute;
			padding-left: 20px;
			right: 50%;
			-webkit-transform: translateX(100%);
			transform: translateX(100%);
			i {
				margin-left: 10px;
			}
		}
	}
	@include MQ(S) {
		margin-top: 15vh;
		.nav-back {
			span {
				display: none;
			}
			i {
				font-size: 30px;
			}
		}
		.nav-create {
			span {
				display: none;
			}
			i {
				font-size: 30px;
			}
		}
	}
}

.list-content {
	width: 80%;
	.grid {
		margin-left: -2%;
		zoom: 1;
		.element-image {
			position: relative;
			height: 175px;
			border-radius: 5px;
			-webkit-transform: scale(1);
			transform: scale(1);
			-webkit-transition: all 0.3s linear;
			transition: all 0.3s linear;
			&.zoom {
				&:hover {
					-webkit-transform: scale(1.1);
					transform: scale(1.1);
				}
			}
		}
		.module {
			position: relative;
		}
		.element-texte {
			background-color: #ddd;
			height: 180px;
			color: #000;
			padding: 8px 14px;
			text-align: center;
		}
		.element-name {
			position: absolute;
			bottom: 10px;
			width: 80%;
			margin-left: 10%;
			text-align: center;
			height: 40px;
			line-height: 40px;
			background-color: #0a0a18;
			border: 1px solid white;
			border-radius: 5px;
			color: white;
			z-index: 110;
			span {
				width: 60%;
				display: inline-block;
			}
			.visibility,
			.details {
				width: 20%;
			}
			.visibility {
				float: left;
			}
			.details {
				float: right;
			}
		}
	}
	.grid:after {
		content: '';
		display: block;
		clear: both;
	}
}

.module {
	float: left;
	width: 98%;
	margin-left: 2%;
	margin-bottom: 2%;
	background-color: #212121;
	min-height: 175px;
	position: relative;
	border: 1px solid white;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

@media only screen and (min-width: 481px) {
	.tablet-1 {
		width: 6.33333333%;
	}
	.tablet-2 {
		width: 14.66666667%;
	}
	.tablet-3 {
		width: 23%;
	}
	.tablet-4 {
		width: 31.33333333%;
	}
	.tablet-5 {
		width: 39.66666667%;
	}
	.tablet-6 {
		width: 48%;
	}
	.tablet-7 {
		width: 56.33333333%;
	}
	.tablet-8 {
		width: 64.66666667%;
	}
	.tablet-9 {
		width: 73%;
	}
	.tablet-10 {
		width: 81.33333333%;
	}
	.tablet-11 {
		width: 89.66666667%;
	}
	.tablet-12 {
		width: 98%;
	}
}

@media only screen and (min-width: 1024px) {
	.desktop-1 {
		width: 6.33333333%;
	}
	.desktop-2 {
		width: 14.66666667%;
	}
	.desktop-3 {
		width: 23%;
	}
	.desktop-4 {
		width: 31.33333333%;
	}
	.desktop-5 {
		width: 39.66666667%;
	}
	.desktop-6 {
		width: 48%;
	}
	.desktop-7 {
		width: 56.33333333%;
	}
	.desktop-8 {
		width: 64.66666667%;
	}
	.desktop-9 {
		width: 73%;
	}
	.desktop-10 {
		width: 81.33333333%;
	}
	.desktop-11 {
		width: 89.66666667%;
	}
	.desktop-12 {
		width: 98%;
	}
}