#website-home{

  .nav-button-mobile {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    line-height: 2rem;
    color: #a1adbf;
    z-index: 20;
    font-family: 'raleway_thin';
    &:hover {
      cursor: pointer;
    }
    h2 {
      font-size: 1.2rem;
      text-transform: uppercase;
    }

    @include MQ(M) {
      display: inline-block;
      width: 100%;
    }
  }

  nav {
    width: 20%;
    text-align: right;
    margin-top: 2.5rem;
    .md-close {
      margin-top: 0;
      width: 50px;
      display: none;

      @include MQ(M) {
        display: block;
      }
    }
    ul {
      li {
        a {
          font-size: 1rem;
          padding: 0.8rem 0 0.5rem;
          border-bottom: solid 1px #383448;
          color: #57555f;
          font-weight: 300;
          display: block;
          width: 100%;
          translate: all ease 0.5s;

          &:hover, &.active {
            padding-right: 0.4rem;
            color: #aeaebb;
            border-color: #aeaebb;
          }
        }
      }
    }

    @include MQ(M) {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color2;
      z-index: 20;
      margin-top: 0;
      opacity: 0;
      pointer-events: none;
      transition: all ease 0.2s;
      &.m-open {
        opacity: 1;
        pointer-events: all;
      }
      ul {
        margin-top: 80px;
        li {
          margin-left: 1rem;
          margin-right: 1rem;
          a {
            text-align: center;
          }
        }
      }
    }
  }

  .container {
    width: 100%;
    max-width: 1170px;
    &.website-home {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      justify-content: space-between;
      transition: all ease 0.2s;

      .menu-albums {
        width: 75%;
        display: flex;
        justify-content: space-between;
        flex-flow: row;
        flex-wrap: wrap;

        .menu-albums-title {
          width: 100%;
          h2 {
            font-family: 'raleway_thin';
            font-size: 1.6rem;
            font-weight: 300;
            color: #ffffff;
            margin-bottom: 1rem;
          }
        }
        .album {
          width: 49.7%;
          height: 100%;
          max-height: 150px;
          position: relative;
          margin-bottom: 0;
          &:nth-last-of-type(n+3) {
            margin-bottom: 0.2rem;
          }
          .image {
            width: 100%;
            height: 100%;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: all ease 0.2s;
              transform: scale(1);
            }

          }

          .title {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            height: 2.3rem;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.84+99 */
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.90) 100%, rgba(0, 0, 0, 0.90) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.90) 100%, rgba(0, 0, 0, 0.90) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.90) 100%, rgba(0, 0, 0, 0.90) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#d6000000', GradientType=0); /* IE6-9 */
            transition: all ease 0.2s;
            .inner {
              position: absolute;
              bottom: 0;
              right: 0;
              padding-bottom: 0.5rem;
              transition: all ease 0.2s;
              transform: translateX(0);
              padding-right: 1rem;
              h2 {
                font-size: 1.15rem;
                color: #ffffff;
                text-shadow: 0 2px 1px rgba(0, 0, 0, 0.8);
                transition: all ease 0.2s;
                display: block;
                text-align: center;
              }
            }
          }

          &:hover {
            cursor: pointer;
            .image {
              img {
                transform: scale(1.05);
              }
            }
            .title {
              height: 40%;
              .inner {
                padding-bottom: 0.7rem;
                h2 {
                  text-shadow: 0 4px 2px rgba(0, 0, 0, 0.8);
                }
              }
            }
          }

          @include MQ(L) {
            .title {
              .inner {
                right: 50%;
                transform: translateX(50%);
                padding-right: 0;
              }
            }
          }
        }

        @include MQ(M) {
          width: 100%;
        }
      }

      @include MQ(L) {
        width: 90%;
        margin: 5% 0;
      }
    }
  }
}